<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Craftsy</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header class="home-header">
        <div class="home-header-logo-nav">
            <img src="/img/logo.png" alt="">
            <nav>
                <a href="#">smartphones</a>
                <a href="#">tablets</a>
                <a href="#">computadoras</a>
            </nav>
        </div>

        <div>
            <a href="">login</a>
            <a href="">registro</a>
        </div>
    </header>


    <main class="home-main">

        <div class="home-main-contenedor">
            <div class="home-main-contenedor-phone">
                <img src="/img/img-phone-01.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas repudiandae error
                    labore ad corporis necessitatibus aperiam provident, </p>
                <button>Ver Más</button>
            </div>

            <div class="home-main-contenedor-phone">
                <img src="/img/img-phone-02.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas repudiandae error
                    labore ad corporis necessitatibus aperiam provident, </p>
                <button>Ver Más</button>
            </div>

            <div class="home-main-contenedor-phone">
                <img src="/img/img-phone-03.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas repudiandae error
                    labore ad corporis necessitatibus aperiam provident, </p>
                <button>Ver Más</button>
            </div>

            <div class="home-main-contenedor-phone">
                <img src="/img/img-phone-01.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas repudiandae error
                    labore ad corporis necessitatibus aperiam provident, </p>
                <button>Ver Más</button>
            </div>

            <div class="home-main-contenedor-phone">
                <img src="/img/img-phone-02.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas repudiandae error
                    labore ad corporis necessitatibus aperiam provident, </p>
                <button>Ver Más</button>
            </div>

            <div class="home-main-contenedor-phone">
                <img src="/img/img-phone-03.jpg" alt="">
                <h2>Nombre del producto</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat voluptas repudiandae error
                    labore ad corporis necessitatibus aperiam provident, </p>
                <button>Ver Más</button>
            </div>
        </div>

        <aside>
            <h2>tutoriales</h2>

            <div class="home-aside-tutoriales">
                <div>
                    <img src="/img/aside-01.jpg" alt="">
                    <p>Titulo del tutorial de reparacion.</p>
                </div>

                <div>
                    <img src="/img/aside-02.jpg" alt="">
                    <p>Titulo del tutorial de reparacion.</p>
                </div>

                <div>
                    <img src="/img/aside-03.jpg" alt="">
                    <p>Titulo del tutorial de reparacion.</p>
                </div>

                <div>
                    <img src="/img/aside-04.jpg" alt="">
                    <p>Titulo del tutorial de reparacion.</p>
                </div>

            </div>
            <h2>publicidad</h2>

            <div class="aside-publicidad">
                <img src="/img/ad-01.jpg" alt="">
                <img src="/img/ad-02.jpg" alt="">
            </div>

        </aside>


    </main>






</body>

</html>